.list {
  width: 100%;
  min-height: 400px;
  position: relative;
}
.item-wrapper {
  box-sizing: border-box;
  padding: 8px;
  transition: box-shadow 0.2s, transform 0.2s;
  will-change: transform, box-shadow;
  z-index: 1;
}
.item-wrapper:hover {
  z-index: 2;
} 